<section>
    <div>
        <div class="card card-custom"></div>
        <div class="container" style="margin-top: -360px;">
            <div class="card p-5">
                <div class="d-flex justify-content-end">
                    <button title="Adicionar usuário" (click)="openUserForm()" mat-fab color="primary"
                        aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th class="text-center" scope="col">Idade</th>
                            <th class="text-center" scope="col">Sexo</th>
                            <th class="text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; index as i" class="animate__animated animate__fadeIn">
                            <td>{{ i + 1 }}</td>
                            <td>{{ user.name }} {{ user.surname }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center">{{ user.age }}</td>
                            <td class="text-center">{{ user.gender }}</td>
                            <td class="text-center">
                                <button class="mr-2 valign-middle">
                                    <div class="d-flex align-items-center">
                                        <mat-icon title="Editar" class="color-theme" aria-hidden="false"
                                            aria-label="edit">edit
                                        </mat-icon>
                                    </div>
                                </button>
                                <button (click)="deleteUser(user)" class="text-danger valign-middle">
                                    <div class="d-flex align-items-center">
                                        <mat-icon title="Excluir" aria-hidden="false" aria-label="delete">delete
                                        </mat-icon>
                                    </div>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <div id="particle-container">
                        <div *ngFor="let p of particles" class="particle"></div>
                    </div>
                </table>
                <div *ngIf="users.length === 0" class="text-muted mt-3 text-center">
                    <span>Nenhum registro encontrado</span>
                </div>
            </div>
        </div>
    </div>
</section>