<div class="e-navbar">
    <div class="logo">
        <mat-icon class="logo-icon engrenagem" title="logo" aria-hidden="false" aria-label="logo">settings</mat-icon>
    </div>
    <nav>
        <ul>
            <li [routerLink]="['/']">
                <a>Home</a>
            </li>
            <li [routerLink]="['/admin/usuarios']" routerLinkActive="router-link-active">
                <a>Crud em angular</a>
            </li>
            <li>
                <a>Image Cropedd</a>
            </li>
        </ul>
    </nav>
</div>