<h2 class="mb-3" mat-dialog-title>Cadastrar Usuário</h2>
<form [formGroup]="userForm" (ngSubmit)="createNewUser(userForm.value)" class="form-container">
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="primeironome" required maxlength="40" minlength="2">
                <mat-error *ngIf="userForm.controls.primeironome.invalid">{{ getErrorMessage('primeironome') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Sobrenome</mat-label>
                <input type="text" matInput formControlName="sobrenome" required maxlength="40" minlength="2">
                <mat-error *ngIf="userForm.controls.sobrenome.invalid">{{ getErrorMessage('sobrenome') }}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="joao@example.com" maxlength="100" formControlName="email"
                    required>
                <mat-error *ngIf="userForm.controls.email.invalid">{{ getErrorMessage('email') }}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Idade</mat-label>
                <input type="number" matInput formControlName="idade" required min="0">
                <mat-error *ngIf="userForm.controls.idade.invalid">{{ getErrorMessage('idade') }}</mat-error>
            </mat-form-field>

            <label class="label-gender">Sexo: </label>
            <mat-radio-group aria-label="Selecione uma opção" formControlName="sexo">
                <mat-radio-button value="Masculino">Masculino</mat-radio-button>
                <mat-radio-button value="Feminino">Feminino</mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button [disabled]="!userForm.valid || loading" type="submit">
            <span *ngIf="!loading">Salvar</span>
            <span>
                <app-loading *ngIf="loading" type="3"></app-loading>
            </span>
        </button>
    </mat-dialog-actions>
</form>